## Descrição

Esse notebook foi construído para realizar os desafios propostos no final de cada aula do curso **Pandas: conhecendo a biblioteca**

## Aula 1: Conhecendo a base de dados

### Desafio 1
Importe o arquivo [**dados.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/dados.csv) e armazene seu conteúdo em um DataFrame Pandas

In [ ]:
url= 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'

In [ ]:
import pandas as pd

dados = pd.read_csv(url)
dados

### Desafio 2
Visualize as primeiras 7 linhas do DataFrame e as 5 últimas

In [ ]:
dados.head(7)

In [ ]:
dados.tail(5)

### Desafio 3
Confira a quantidade de linhas e colunas do DataFrame

In [ ]:
dados.shape

### Desafio 4
Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna

In [ ]:
dados.columns

In [ ]:
# selecionando uma coluna
dados['Nome']

In [ ]:
#selecionando múltiplas colunas
dados[['Idade', 'Notas']]

In [ ]:
# conferindo os tipos de dados de cada coluna
dados.dtypes

### **Extra**
Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc) - Dica: pesquise pelo método **describe**

In [ ]:
dados.describe()

## Aula 2: Análise exploratória dos dados

Para os desafios dessa aula, vamos utilizar a mesma base de dados que estamos utilizando para o desenvolvimento do nosso projeto. Sendo assim, na célula abaixo vamos realizar a importação dessa base de dados e aplicar as transformações já realizadas até o momento da aula 2.

In [ ]:
import pandas as pd

In [ ]:
# importando a base de dados
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 
                      'Prédio Inteiro', 'Loja/Salão', 
                      'Galpão/Depósito/Armazém', 
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']
                      
# removendo imóveis comerciais
df = dados.query('@imoveis_comerciais not in Tipo')

# selecionando apenas imóveis do tipo apartamento
df = df.query('Tipo == "Apartamento"')

# visualizando a base de dados
df.head()

### Desafio 1
Calcular a média de quartos por apartamento

In [ ]:
df['Quartos'].mean()

### Desafio 2
Conferir quantos bairros únicos existem na nossa base de dados

In [ ]:
len(df.Bairro.unique())

In [ ]:
df.Bairro.nunique()

### Desafio 3
Analisar quais bairros possuem a média de valor de aluguel mais elevadas

In [ ]:
df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False)

In [ ]:
df.groupby('Bairro', as_index=False)['Valor'].mean().sort_values('Valor', ascending=False)

### Desafio 4
Criar um gráfico de barras verticais que apresente os 5 bairros com a média de valor de aluguel mais elevadas

In [ ]:
bairros_maiores_alugueis = df.groupby('Bairro')[['Valor']].mean().sort_values('Valor', ascending=False).head()
bairros_maiores_alugueis

In [ ]:
bairros_maiores_alugueis.plot(kind='bar', figsize=(14,10), color='blue',ylabel='Preço (R$)')

## Aula 3

Importe novamente o arquivo [**dados.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/dados.csv) para realizar os desafios abaixo.

In [ ]:
# Importando novamente os dados
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'

pd.read_csv(url)

### Desafio 1
Verifique se a base de dados possui dados nulos e caso tenha, realize o tratamento desses dados nulos

In [ ]:
alunos = pd.read_csv(url)

In [ ]:
alunos.isnull().sum()

In [ ]:
alunos = alunos.fillna(0)

In [ ]:
alunos.isnull().sum()

### Desafio 2
Os dados "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados

In [ ]:
alunos

In [ ]:
alunos.query('Nome == "Carlos" | Nome == "Alice"').index

In [ ]:
alunos_para_remover = alunos.query('Nome == "Carlos" | Nome == "Alice"').index

alunos.drop(alunos_para_remover, axis=0, inplace=True)

In [ ]:
alunos

### Desafio 3
Aplique um filtro que selecione apenas os dados que foram aprovados

In [ ]:
filtro = (alunos['Aprovado'] == True)
aprovados = alunos[filtro]

In [ ]:
aprovados

### Desafio 4
Salve o DataFrame que possui apenas os dados aprovados em um arquivo csv chamado "dados_aprovados.csv"

In [ ]:
aprovados.to_csv('pandas-dados/dados_aprovados.csv', sep=',', index=False)

In [ ]:
pd.read_csv('pandas-dados/dados_aprovados.csv', sep=',')

### **Extra**
Ao conferir as notas dos dados aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade tinham um ponto extra que não foi contabilizado. Sendo assim, substitua as notas 7.0 da base de dados por 8.0. **Dica**: pesquise pelo método **replace**

In [ ]:
aprovados.replace(7.0, 8.0)

In [ ]:
aprovados = aprovados.replace(7.0, 8.0)

In [ ]:
aprovados

## Aula 4

Importe novamente o arquivo [**dados.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/dados.csv) para realizar os desafios abaixo.

In [ ]:
# Importando novamente os dados
alunos = pd.read_csv(url)
alunos.head()

### Desafio 1
Os dados participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles. Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles

In [ ]:
alunos['Pontos_extras'] = alunos['Notas'] * 0.40
alunos.head()

### Desafio 2
Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras

In [ ]:
alunos['Notas_finais'] = alunos['Notas'] + alunos['Pontos_extras']
alunos.head()

### Desafio 3
Como os dados ganharam pontos extras, alguns que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

* True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
* False: caso o aluno esteja reprovado (nota final deve ser menor que 6).

In [ ]:
alunos['Aprovado_final'] = alunos['Notas_finais'].apply(lambda x: True if x >= 6 else False)
alunos.head()

### Desafio 4
Faça uma seleção e verifique quais dados não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras

In [ ]:
selecao = (alunos['Aprovado'] == False) & (alunos['Aprovado_final'] == True)
alunos[selecao]