In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/dados_sus.csv'

In [ ]:
dados = pd.read_csv(url, encoding='ISO-8859-1', sep=';', skiprows=3, skipfooter = 9, engine='python')
dados

### Aula 2 - Desafio: lendo dados de outro link

In [ ]:
# url de compartilhamento gerada pelo google drive
# https://docs.google.com/spreadsheets/d/1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw/edit?usp=sharing

id_planilha = '1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw'
url = f'https://docs.google.com/spreadsheets/d/{id_planilha}/gviz/tq?tqx=out:csv&sheet'
emissoes_co2 = pd.read_csv(url)

In [ ]:
emissoes_co2.head(5)

In [ ]:
emissoes_co2.to_csv('pandas-dados/emissoes_co2_exercicios.csv', sep=',', index=False)

In [ ]:
pd.read_csv('pandas-dados/emissoes_co2_exercicios.csv').isnull().sum()

### Aula 4 - Desafio: lendo uma tabela de uma página web

In [ ]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o'

In [ ]:
import pandas as pd

In [ ]:
dados_populacionais = pd.read_html(url)[0]

In [ ]:
dados_populacionais

### Aula 5 - Desafio: manipulando um banco de dados

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Você é responsável por criar um banco de dados local de clientes para uma instituição financeira. Temos o [arquivo CSV](https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv) com os dados de clientes.

Sua missão é:

1. Criar o banco de dados local com a biblioteca SQLAlchemy.
2. Escrever os dados do arquivo CSV neste banco de dados local.
3. Realizar três atualizações no banco de dados:
- Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.
- Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.
- Criar um novo registro de cliente seguindo as especificações abaixo:
    - ID_Cliente: 6850985
    - Idade: 33
    - Grau_escolaridade: Doutorado
    - Estado_civil: Solteiro
    - Tamanho_familia: 1
    - Categoria_de_renda: Empregado
    - Ocupacao: TI
    - Anos_empregado: 2
    - Rendimento_anual: 290000
    - Tem_carro: 0
    - Moradia: Casa/apartamento próprio

In [ ]:
import sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

In [ ]:
dados = pd.read_csv(url)

In [ ]:
dados.head()

In [ ]:
dados.to_sql('clientes', engine, index=False)

In [ ]:
clientes = pd.read_sql_table('clientes', engine)

In [ ]:
clientes.tail()

- Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.

In [ ]:
query = 'UPDATE clientes SET Rendimento_anual = 300000 WHERE ID_Cliente = 6840104'

In [ ]:
with engine.connect() as conn:
    resultado = conn.execute(text(query))
    conn.commit()

In [ ]:
pd.read_sql_table('clientes', engine).tail()

- Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.

In [ ]:
query2 = 'DELETE FROM clientes WHERE ID_Cliente = 5008808'

In [ ]:
with engine.connect() as conn:
    resultado = conn.execute(text(query2))
    conn.commit()

In [ ]:
pd.read_sql_table('clientes', engine)

- Criar um novo registro de cliente seguindo as especificações abaixo:
    - ID_Cliente: 6850985
    - Idade: 33
    - Grau_escolaridade: Doutorado
    - Estado_civil: Solteiro
    - Tamanho_familia: 1
    - Categoria_de_renda: Empregado
    - Ocupacao: TI
    - Anos_empregado: 2
    - Rendimento_anual: 290000
    - Tem_carro: 0
    - Moradia: Casa/apartamento próprio

In [ ]:
query3 = 'INSERT INTO clientes (ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia) VALUES (6850985,33,"Doutorado","Solteiro",1,"Empregado","TI",2,290000,0,"Casa/apartamento próprio")'

In [ ]:
with engine.connect() as conn:
    resultado = conn.execute(text(query3))
    conn.commit()

In [ ]:
pd.read_sql_table('clientes', engine).tail()